body {
  margin: 0%;
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../Resources/Assets/background.jpg);

  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      width: 80px;
      height: 100%;
      transition: 0.4s;
      background-image: linear-gradient(to bottom, #733472, #3a265d);
      /* backdrop-filter: blur(40px); */
      border-right: 2px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      &.active {
        width: 260px;

        .toggle-btn .btn {
          left: 90%;
        }

        .list .options {
          opacity: 1;
          pointer-events: auto;
          transition-delay: calc(0.05s * var(--i));
        }
      }

      .toggle-btn {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .btn {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          height: 40px;
          width: 40px;
          color: #fff;
          font-size: x-large;
          text-align: center;
          line-height: 40px;
          transition: 0.4s;
          cursor: pointer;
        }
      }

      .list {
        margin-top: 10px;
        padding: 6px 4px;
        display: flex;
        flex-direction: column;
        .list-item {
          /* border: 2px solid; */
          border-radius: 10px;
          margin: 5px 0;
          width: 100%;
          height: 50px;
          list-style: none;
          line-height: 50px;
          font-size: large;

          &.active {
            background-color: rgba(255, 255, 255, 0.2);
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #fff;
          text-decoration: none;
          white-space: nowrap;
          i {
            min-width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            line-height: 50px;
            margin-left: 12px;
          }
        }
        .options {
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.15s;
        }
      }
    }
    .right-panel {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-left: 80px;
      transition: 0.4s;

      &.collapse {
        margin-left: 260px;
      }

      .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: rgb(249, 250, 254); */

        .row-1 {
          width: 100%;
          display: flex;
          flex-direction: column;
          /* background-color: #3a265d; */

          .heading {
            padding: 30px 0 20px 30px;
            color: rgb(255, 255, 255, 0.9);
            /* background-color: #3a265d; */
          }
          .tab-container {
            display: flex;
            width: 100%;

            .tab {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              height: 150px;
              width: 100%;
              margin: 0 30px 30px 30px;
              border-radius: 5px;
              border: 1px solid rgba(255, 255, 255, 0.2);
              background-color: rgb(255, 255, 255, 0.2);
              /* background: transparent; */
              /* backdrop-filter: blur(30px); */
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
              color: rgb(255, 255, 255, 0.9);

              .icon {
                font-size: x-large;
                /* background-color: #3a265d; */
              }
              .num {
                display: flex;
                width: auto;
                align-items: center;
                /* background-color: #733472; */
              }
            }
          }
        }

        .row-2 {
          width: 100%;
          display: flex;
          flex-direction: row;

          .calendar-container {
            /* background-color: #733472; */
            padding: 0px 30px 0 30px;

            .calendar {
              display: flex;
              flex-direction: column;
              height: 350px;
              width: 410px;
              background-color: transparent;
              border-radius: 5px;
              border: 1px solid rgba(255, 255, 255, 0.2);
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            }

            .header {
              /* backdrop-filter: blur(30px); */
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: medium;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              padding: 10px;
              background-color: rgb(255, 255, 255, 0.2);
              color: rgb(255, 255, 255, 0.9);

              button {
                background-color: transparent;
                border: none;
                font-size: x-large;
                cursor: pointer;
                outline: none;
                color: white;
              }
            }

            .days-container {
              display: grid;
              height: 300px;
              width: 400px;
              padding: 5px;
              grid-template-columns: repeat(7, 1fr);
              /* background-color: rgb(255, 255, 255, 0.2); */
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }

            .day {
              margin: 3px;
              padding: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              border-radius: 5px;
              cursor: default;
              color: rgb(255, 255, 255, 0.9);

              &:hover {
                background-color: rgb(255, 255, 255, 0.2);
              }
            }

            .today {
              background-color: rgb(255, 255, 255, 0.2);
            }
          }

          .list-container {
            width: 100%;
            background-color: rgb(255, 255, 255, 0.1);
            /* backdrop-filter: blur(30px); */

            .project-list {
              /* background-color: transparent;
              backdrop-filter: blur(30px); */
              border-radius: 5px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
              margin-right: 30px;
              max-height: 500px;
              color: rgba(255, 255, 255);
              border: 1px solid rgba(255, 255, 255, 0.2);
              background-color: rgb(255, 255, 255, 0.2);

              .table-container {
                overflow: auto;
                max-height: 350px;
                margin: 20px;
                /* border: 1px solid white; */

                .list {
                  text-align: center;
                  border-collapse: collapse;
                  color: rgba(255, 255, 255, 0.9);
                  /* border: 1px solid white; */

                  th {
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0, 0.5);
                  }

                  td {
                    padding: 4px;
                    height: 50px;
                    width: 200px;
                    /* border: 1px solid white; */
                  }

                  .badge {
                    font-size: smaller;
                    padding: 4px;
                    border-radius: 5px;

                    &.danger {
                      color: #fa5c7c;
                      background-color: #ffeff2;
                    }

                    &.success {
                      color: #0ecf97;
                      background-color: #e8faf6;
                    }

                    &.warning {
                      color: #ffc35a;
                      background-color: #fff9f0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
