<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Window | PMT</title>
  <link rel="stylesheet" href="./Main.css">
  <script src="https://kit.fontawesome.com/5060ba3f74.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="left-panel">
      <nav class="sidebar">
        <div class="toggle-btn">
          <i class="fa-solid fa-bars btn"></i>
        </div>
        <ul class="list">
          <li class="list-item active">
            <a href="#home">
              <i class="fa-solid fa-house"></i>
              <span class="options" style="--i:1;">Projects</span>
            </a>
          </li>
          <li class="list-item">
            <a href="#home">
              <i class="bx bxs-grid-alt"></i>
              <span class="options" style="--i:2;">Dashboard</span>
            </a>
          </li>
          <li class="list-item">
            <a href="#home">
              <i class="fa-solid fa-clipboard-check"></i>
              <span class="options" style="--i:3;">Task Board</span>
            </a>
          </li>
          <li class="list-item">
            <a href="#home">
              <i class="bx bxs-bar-chart-square"></i>
              <span class="options" style="--i:4;">Reports & Analytics</span>
            </a>
          </li>
          <li class="list-item">
            <a href="#home">
              <i class="fa-solid fa-gear"></i>
              <span class="options" style="--i:5;">Settings</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="right-panel">
      <nav class="top-nav">
        <div class="profile">
          S
        </div>
      </nav>
      <main class="main">
        <div class="calendar-container">
          <div class="header">
            <button id="prevBtn">«</button>
            <h2 id="monthYear">February 2024</h2>
            <button id="nextBtn">»</button>
          </div>
          <div class="days-container" id="daysContainer"></div>
        </div>

      </main>

      <footer>

      </footer>
    </div>
  </div>




  <script src="./Main.js"></script>
</body>

</html>