body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Resources/Assets/background.jpg");
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 350px;
  height: 100%;
  color: #fff;
  border: none;
  backdrop-filter: blur(30px);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* background-color: #312450; */
}

.nav {
  position: relative;
  top: 40vmin;
  margin-left: 50px;
  width: 250px;
}

.nav .options {
  font-size: 16px;
  font-family: Arial;
  margin-bottom: 50px;
  padding: 10px 10px;
  text-align: right;
  cursor: pointer;
  /* background-color: aquamarine; */
  /* border: 2px solid white; */

  a {
    color: white;
    /* width: 100%; */
    /* background-color: red; */
    text-decoration: none;
  }

  hr {
    height: 2px;
    border: none;
    background-color: white;
    /* background-image: linear-gradient(to right, #5e42a6, #b74e91); */
  }
  &:hover {
    opacity: 0.6;
  }
}

.main {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 100vmin;
  color: white;
  /* border: 2px solid white; */
}
