<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Your Project Management Tool</title>
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div class="sidebar">
    <div class="nav">
      <div class="options">
        <a href="./index.html">
          <b>WELCOME</b>
          <hr>
        </a>
      </div>
      <div class="options">
        <a href="./SignUp/SignUp.html">
          <b>SIGN UP</b>
          <hr>
        </a>
      </div>
      <div class="options">
        <a href="./Login/Login.html">
          <b>LOGIN</b>
          <hr>
        </a>
      </div>
    </div>
  </div>
  <div class="main">
    <h1>Welcome to Your Project Management Tool</h1>
    <p>Efficiently organize, track, and manage your projects with ease!</p>
  </div>
</body>

</html>