<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./Projects.css">
  <title>Projects | PMT</title>
  <script src="https://kit.fontawesome.com/5060ba3f74.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>


  <div class="wrapper">
    <div class="sidebar">
      <div class="toggle-btn">
        <i class="fa-solid fa-bars btn"></i>
      </div>
      <ul class="list">
        <li class="list-item active">
          <a href="../Project/Projects.html">
            <i class="fa-solid fa-briefcase"></i>
            <span class="options" style="--i:1;">Projects</span>
          </a>
        </li>
        <li class="list-item">
          <a href="../Dashboard/Dashboard.html">
            <i class="fa-solid fa-dice-d6"></i>
            <span class="options" style="--i:2;">Dashboard</span>
          </a>
        </li>
        <li class="list-item">
          <a href="../Deliverable/Deliverable.html">
            <i class="fa-solid fa-layer-group"></i>
            <span class="options" style="--i:3;">Deliverables</span>
          </a>
        </li>
        <li class="list-item">
          <a href="../Task/Task.html">
            <i class="fa-solid fa-clipboard"></i>
            <span class="options" style="--i:4;">Task Board</span>
          </a>
        </li>
        <li class="list-item">
          <a href="../Reports/Reports.html">
            <i class="fa-solid fa-chart-pie"></i>
            <span class="options" style="--i:5;">Reports & Analytics</span>
          </a>
        </li>
      </ul>
      <hr>
      <ul class="profile-btn">
        <li class="item">
          <a href="../Settings/Settings.html">
            <i class="fa-solid fa-gear"></i>
            <span class="options" style="--i:6;">Settings</span>
          </a>
        </li>
        <li class="item">
          <a href="../index.html">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="options" style="--i:7;">Log Out</span>
          </a>
        </li>
      </ul>

    </div>
    <div class="right-panel">

      <div class="main">

        <div class="heading">
          <h3>Projects</h3>
          <div class="btn-container">
            <div class="btn1">
              New Project
            </div>
          </div>
        </div>
        <div class="list-container">

          <div class="table-container">
            <table class="list">
              <!-- <tr class="project">
                <td> Project 1 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 2 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 3 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 4 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 5 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 6 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 7 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 8 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 9 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 10 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 11 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 12 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 13 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 14 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 15 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 16 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 17 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 18 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 19 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 20 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 1 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 2 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 3 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 4 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 5 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 6 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 7 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 8 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 9 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 10 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 11 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 12 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 13 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 14 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 15 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 16 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 17 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 18 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 19 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 20 - Put efforts towards your personal goals and wishes</td>
              </tr> -->
            </table>
          </div>
        </div>
      </div>


      <div class="overlay" id="overlay"></div> <!-- Overlay element -->
      <div class="form-popup" id="addProjectForm">
        <form class="form-container">
          <i class="fa fa-x close btn cancel" onclick="closeForm()"></i>
          <h2>Create Project</h2>
          <label for="name">Title:</label>
          <input type="text" id="name" name="name" required maxlength="50">
          <label for="description">Description:</label>
          <textarea id="description" name="description" required></textarea>
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate" required>
          <label for="deadLine">Deadline:</label>
          <input type="date" id="deadLine" name="deadLine" required>
          <button type="submit" class="btn">Add Project</button>
        </form>
      </div>
    </div>
  </div>
  <div id="fail-dialog" class="dialog">
    <div class="btn">
      <i class="fa fa-x close" onclick="closeDialogForm()"></i>
    </div>
    <div class="dialog-content">
      <h2>message</h2>
    </div>
  </div>



  <script src="./Projects.js"></script>
</body>

</html>