<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./Projects.css">
  <title>Main Window</title>
  <script src="https://kit.fontawesome.com/5060ba3f74.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>


  <div class="wrapper">
    <div class="sidebar">
      <div class="toggle-btn">
        <i class="fa-solid fa-bars btn"></i>
      </div>
      <ul class="list">
        <li class="list-item active">
          <a href="../Project/Projects.html">
            <i class="fa-solid fa-house"></i>
            <span class="options" style="--i:1;">Projects</span>
          </a>
        </li>
        <li class="list-item">
          <a href="../Main/Main.html">
            <i class="bx bxs-grid-alt"></i>
            <span class="options" style="--i:2;">Dashboard</span>
          </a>
        </li>
        <li class="list-item">
          <a href="../Task/Task.html">
            <i class="fa-solid fa-clipboard-check"></i>
            <span class="options" style="--i:3;">Task Board</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#Reports">
            <i class="bx bxs-bar-chart-square"></i>
            <span class="options" style="--i:4;">Reports & Analytics</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#Settings">
            <i class="fa-solid fa-gear"></i>
            <span class="options" style="--i:5;">Settings</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="right-panel">

      <div class="main">

        <div class="heading">
          <h3>Projects</h3>
          <div class="btn-container">
            <div class="btn1">
              New Project
            </div>
          </div>
        </div>
        <div class="list-container">

          <div class="table-container">
            <table class="list">
              <tr class="project">
                <td> Project 1 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 2 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 3 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 4 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 5 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 6 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 7 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 8 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 9 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 10 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 11 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 12 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 13 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 14 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 15 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 16 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 17 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 18 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 19 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 20 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 1 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 2 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 3 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 4 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 5 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 6 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 7 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 8 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 9 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 10 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 11 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 12 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 13 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 14 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 15 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 16 - Put efforts towards your personal goals and wishes</td>
              </tr>
              <tr class="project">
                <td> Project 17 - Complete your dissertation</td>
              </tr>
              <tr class="project">
                <td> Project 18 - Plan to move to London</td>
              </tr>
              <tr class="project">
                <td> Project 19 - Job Hunting</td>
              </tr>
              <tr class="project">
                <td> Project 20 - Put efforts towards your personal goals and wishes</td>
              </tr>
            </table>
          </div>
        </div>
      </div>


      <div class="overlay" id="overlay"></div> <!-- Overlay element -->
      <div class="form-popup" id="addProjectForm">
        <form class="form-container">
          <i class="fa fa-x close btn cancel" onclick="closeForm()"></i>
          <h2>Create Project</h2>
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required>
          <label for="description">Description:</label>
          <textarea id="description" name="description" required></textarea>
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate" required>
          <label for="deadLine">Deadline:</label>
          <input type="date" id="deadLine" name="deadLine" required>
          <button type="submit" class="btn">Add Project</button>
        </form>
      </div>
    </div>
  </div>



  <script src="./Projects.js"></script>
</body>

</html>